@page
@model MyWebApp.Pages.HobbiesModel
@{
    ViewData["Title"] = "Hobbies";
}

<div class="hobbiesPage">
    <div class="bioPic">
        <img class="profilePic" src="DadFishing.jpg" alt="dad photo">
        <img src="3dOcto.jpg" alt="octopus 3d print">
        <p></p>
    </div>
    <div></div>
</div>