@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="indexPage">
    <h1 class="display-4">Welcome</h1>
    <div class="bioPic">
        <img class="profilePic" src="Dustinoptimized.jpg" alt="Dustin Follett">
        <p>Hello and welcome to my website. My name is Dustin Follett. I was born and raised in Bend Oregon and after high school I moved to La Grande Oregon to start my college career at EOU. I am currently working on a CS degree with a minor in Business.Check out the links in the Nav bar up top to find out more about me.</p>
    </div>
    <div></div>
</div>
