@page
@model MyWebApp.Pages.MyProgramsModel
@{
    ViewData["Title"] = "My Programs";
}
<h1>@ViewData["Title"]</h1>
<table style="width:100%">
    <tr>
        <th>Program</th>
        <th>Language</th>
        <th>Description</th>
        <th>Link</th>
    </tr>
    <tr>
        <td>Track</td>
        <td>SQL, Java</td>
        <td>scores a track meet</td>
        <td>www.code.com</td>
    </tr>
    <tr>

    </tr>
</table>