@page
@model MyWebApp.Pages.ResumeModel
@{
    ViewData["Title"] = "Resume";
}
<h1>@ViewData["Title"]</h1>

<p>
    Dustin Follett<br>
    La Grande, OR || (541) 805-6443 || dfollett@eou.edu ||www.linkedin.com/in/dustin-follett<br>

    Job Experience<br>
    Ambassador / Student Director of Campus Visits at Eastern Oregon University, La Grande, OR<br>
    June 2018 – Present<br>
    Give tours of EOU to groups of prospective students for events and visits, Update databases with student info and Gear Requests from prospective students, set up daily campus visits, file and scan transcripts, general office tasks, and call students to invite them to upcoming events.<br>

    Intern at Wood Grain particleboard mill, La Grande, OR<br>
    June 2019 - September 2019<br>
    Line cleanup, projects cleaning essential machines while practicing Standard Operating Procedures to ensure safe and thorough cleaning, communicate with teams to complete tasks with others and maintain safe practices.<br>

    Cabinet Maker at RTM enterprises, Powell Butte, OR<br>
    June 2020 - September 2020 & June 2018 - September 2018<br>
    Feed stock into machines, sand cabinets doors, cut wood to specifications, assemble doors, drawers, and boxes, transport finished cabinets.<br>

    Projects<br>
    Creator - Eastern Oregon University<br>
    2019<br>
    Created a Database from scratch that holds data for competitors in events. It also holds their scores in the track meet (SQL, MySQL Workbench)<br>

    Software Engineer - Eastern Oregon University<br>
    2020<br>
    Worked with a team to engineer and implement a coronavirus tracking web app. I programmed the database end of the web app. (HTML, MYSQL, PHP, XAMPP)<br>

    Education<br>
    Eastern Oregon University in La Grande Oregon<br>
    2017 - Expected graduation 2021<br>
    B.S in Computer Science and a Minor in Business<br>
    good base knowledge of Java programming language, command line navigation, and code compilation.<br>

    Activity & Awards<br>
    - Inducted Member of the National Society of Leadership and Success (NSLS).<br>
    - Outstanding Sophomore Student of the Year through TRiO SSS.<br>

    Hobbies<br>
    I am an annual community service member Week Of Welcome, Avid fisherman (I am working on a dream project of mine, which is related to fishing), Reader of books, and woodworker. I also print 3D objects in my spare time.<br>
<p/>